<%- include('header'); -%>
  <div class="box" id="heading">
    <h1><%=today%></h1>
    <h1 id="txt"></h1>
  </div>
   <div class="box"> 
    <%  for(var i=0;i < todo.length; i++){%>
    <div class="item">
        <p><%=todo[i]%></p>
    </div>
      <% } %>
   
    
   <form action="/work" method="post">
       <input type="text" name="todoItem" placeholder=" New item" required autocomplete="off">
       <button type="submit">+</button>
   </form>
   </div>
   <%- include('footer') -%>